{{define "pwa_head"}}
    <meta name="application-name" content="polka">
    <meta name="apple-mobile-web-app-title" content="polka">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fcfcfc" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/static/manifest.webmanifest">
    <link rel="icon" href="/static/app-icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" sizes="180x180">
{{end}}
